.title
    margin-bottom: 40px
.title h1
    font-family: $Montserrat
    font-weight: 800
    color: #F0F0F0
    font-size: 129px
    line-height: 129px
    text-transform: uppercase
    margin-bottom: 10px
    position: relative
    @media (max-width: 720px)
        font-size: 85px
        line-height: 85px
    &:before
        content: ''
        display: block
        position: absolute
        background: #00567A
        width: 159px
        height: 35px
        left: 41px
        bottom: 0
        z-index: -1
        @media (max-width: 720px)
            width: 105.89px
            height: 23.31px
            left: 30px
    &.sky
        color: #1F2122
        font-size: 100px
        @media (max-width: 720px)
            font-size: 56px
            line-height: 68px
        &::before
            width: 124px
            height: 27px
            left: 32px
            bottom: 16px
            background: rgba(169, 223, 242, 1)

.title h2
    font-family: $Montserrat
    font-weight: 600
    font-size: 54px
    line-height: 54px
    color: #46494A
    padding-left: 41px
    margin-bottom: 0
    @media (max-width: 720px)
        font-size: 35px
        padding-left: 30px
    &.sky
        font-size: 43px
        color: rgba(125, 133, 138, 0.55)
        text-transform: lowercase
        &::first-letter
            text-transform: uppercase
        @media (max-width: 720px)
            font-size: 24px
            line-height: 30px
            padding-left: 30px

h2.secondary-title
    font-family: $Montserrat
    font-weight: 700
    font-size: 36px
    line-height: 44px
    color: #1F2122
    text-transform: uppercase
    position: relative
    margin-bottom: 24px
    white-space: nowrap
    z-index: 2
    &::before
        content: ''
        display: block
        position: absolute
        background: rgba(87, 175, 206, 0.58)
        width: 56px
        height: 14px
        left: 36px
        bottom: 0
        z-index: -1

p.standard
    font-family: $Montserrat
    font-style: normal
    font-weight: 300
    font-size: 16px
    line-height: 20px
    color: #8E9094
    cursor: default

@media ( max-width: 520px )
    h2.secondary-title
        font-size: 22px
        line-height: 22px
        &::before
            width: 34.42px
            height: 8.6px
            left: 10px
    p.standard
        font-family: $Montserrat
        font-size: 14px
        line-height: 15px
        color: #8E9094
    