@import config
@import fonts
@import buttons
@import text
@import pageslider
@import components/burger
@import layout/footer
@import layout/header
@import components/flipcard
@import components/mobile_menu
@import approach
@import aboutus

// CUSTOM USER STYLES & IMPORTS
.ofx-h
    overflow-x: hidden
.body
    position: relative
    background: #fff
    
.container
    max-width: 1240px

.section-info
    padding-left: 40px
    @media (max-width: 767px) 
        padding-left: 20px

.time-line
    display: flex
    align-items: center
    font-family: Montserrat
    font-size: 19.2px
    font-weight: 600
    color: #6C6C6C
    margin-bottom: 30px
    .dash
        width: 64px
        height: 0px
        display: block
        margin: 0 18px
        border-top: 0.7px solid #5C5C5C
    &.light
        color: rgba(78,100,111,0.28)
        .dash
            border-color: rgba(223, 225, 231, 1)
#top-info
    display: flex
    flex-direction: column
    position: relative
    min-height: 100vh
    height: 100%
    overflow: hidden
    .gradient
        pointer-events: none
        position: absolute
        top: 0
        right: 0 
        left: 0
        bottom: 0
        z-index: 1
        background: linear-gradient(107.19deg, rgba(31, 33, 34, 0.99) 2.14%, rgba(31, 33, 34, 0.98) 28.18%, rgba(31, 33, 34, 0.92) 41.3%, rgba(31, 33, 34, 0.92) 94.91%)
        background-size: cover, auto 100%
        &.light
            background: url('../img/src/approach.png') no-repeat center
            background-size: cover
    &.about-us
        .gradient
            background: url('../img/src/about-us-bg.png') no-repeat center
            background-size: cover

    .ARTVIC
        position: relative
        z-index: 2
        &::after
            content: "ARTVIC"
            position: absolute
            right: -23%
            bottom: 60% // 283px
            letter-spacing: 15px
            transform: rotate(-90deg)
            font-family: $Montserrat
            font-weight: 900
            font-size: 230px
            line-height: 230px
            color: rgba(78, 80, 82, 0.15)
            z-index: -1
            @media ( max-width: 1000px )
                display: none
        &.sky
            &::after
                color: rgba(226, 236, 241, 0.34)
                // backdrop-filter: blur(8.73532px)

    video
        position: absolute
        top: 0
        bottom: 0
        left: 
        right: 0
        min-width: 100%
        min-height: 100%
        @media (max-width: 540px)
            width: auto
            height: 100%

/* OUR SPECIALIZATION =========================================== */
#our-specializtion
    min-height: 100vh
    background: #F9F9F9
    padding-bottom: 60px
    .specializtion-text
        padding-left: 40px
        width: 60%
        @media (max-width: 1200px)
            width: 100%
        @media (max-width: 991px)
            padding: 0
    .cards
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(287px, 1fr))
        grid-gap: 20px
        margin-top: 64px
        position: relative
        z-index: 2
        @media ( max-width: 1255px)
            grid-template-columns: 1fr 1fr
            grid-template-rows: 50% 50%
        @media (max-width: 767px)
            grid-template-columns: 1fr
            grid-template-rows: repeat(4, 1fr)
        &::after
            content: '02'
            position: absolute
            right: -80px
            bottom: -150px
            font-family: $Montserrat
            font-weight: 800
            font-size: 280px
            line-height: 280px
            color: transparent
            -webkit-text-stroke-width: 2px
            -webkit-text-stroke-color: #fff
            z-index: -1
            @media (max-width: 1270px)
                display: none
            .card-image
                margin-bottom: 15px
                transition: .5s
                position: relative
                bottom: 0
            .card-title
                font-family: $Montserrat
                position: relative
                font-style: normal
                font-weight: 600
                font-size: 22px
                line-height: 22px
                color: rgba(78, 78, 78, 0.8)
                margin: 15px 0
                text-align: center


            .card-text
                p
                    display: inline-block
                    width: 200px


#why-us
    // min-height: 100vh
    background: url('../img/src/ARTVIC-horizont.png') no-repeat, #fff
    background-position: right 40%
    @media (max-width: 992px)
        background: url('../img/src/ARTVIC-vertical.png') no-repeat
        background-position: right bottom

#why-us .cards
    display: flex
    flex-wrap: wrap
    position: relative
    &::after
        content: '03'
        width: 350px
        height: 335px
        position: absolute
        right: -70px
        bottom: -30px
        font-family: $Montserrat
        font-weight: 800
        font-size: 280px
        line-height: 280px
        color: #fff
        -webkit-text-stroke-width: 2px
        -webkit-text-stroke-color: rgba(244, 244, 244, 0.54)
        z-index: -1

#why-us .card
    cursor: default
    min-width: 303px
    max-width: 303px
    padding: 12px 42px 28px 42px
    margin-bottom: 30px
    margin-right: 7%
    display: flex
    flex: 1 1 auto
    flex-direction: column
    justify-content: space-evenly
    background: transparent
    transition: all .5s
    &.active
        cursor: default
        background: #F9F9F9
        box-shadow: 0px 10px 21px rgba(205, 210, 217, 0.31)
        border-radius: 4px

#why-us .card
    h3
        font-family: $Montserrat
        font-weight: 600
        font-size: 22px
        line-height: 27px
        color: #393D41
        margin-bottom: 10px
    p
        font-size: 14px

@media ( max-width: 1200px )
    #why-us .cards
        justify-content: space-evenly
    #why-us .card
        margin-right: 0

@media ( max-width: 992px )
    #why-us .cards
        &::after
            content: ''
            display: none


@media ( max-width: 520px )
    #why-us .cards
        &::after
            display: none
    #why-us .card
        flex-direction: row
        padding: 15px 25px
        margin-top: 65px
        min-width: 100%
        p
            font-size: 13px
        h3
            font-size: 18px
            line-height: 22px
        .card-image
            max-width: 60px
            width: 100%
            margin-right: 20px
            img
                // width: 100%
                height: auto
